/* html,
body,
div,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
:root {
  --background: #353535;
  --accent: #ff4673;
  --shade: #787777;
  --white-shade: #f5f5f5;
  --white: #fff;
  --border-focus: #b1b1b1;
}


body {
  height: 100%;
  font-family: "Inter", sans-serif;
}
#root,
#root > div {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-white-shade {
  background-color: var(--white-shade);
}
.bg-shade {
  background-color: var(--shade);
}
.bg {
  background-color: var(--background);
}
.bg-white {
  background-color: var(--white);
}
.text-mute {
  color: var(--shade);
}
.text-strikethrough {
  text-decoration: line-through;
}

.text-accent {
  color: var(--accent);
}
.btn-accent {
  background-color: var(--accent);
  outline: 0;
  color: var(--white);
  border: 0;
  width: 90px;
  display: inline-block;
  padding: 1em 0.8em;
  border-radius: 15px;
}
.btn-upd {
  border: 0;
  height: 0;
  outline: 0;
  background-color: transparent;
}

.toggle_btn {
  width: 45px;
  height: 28px;
  background-color: var(--shade);
  border-radius: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.toggle_btn > span {
  width: 15px;
  display: block;
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 5px;
}
a.navbar-brand {
  font-size: 2.5em;
  font-family: "Square Peg", "Inter", sans-serif;
  font-weight: bold;
  color: var(--accent);
}
a.navbar-brand:hover {
  color: var(--accent);
  opacity: 0.8;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
input[name="search"] {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #a19f9f;
  outline: 0;
  border-radius: 10px;
  margin-right: 1em;
}
input[name='edit'] {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--accent) !important;
  outline: 0;
  min-width: 80%;
}
.react-datepicker {
  width: 20% !important;
  border: none !important;
  background-color: transparent !important;
  margin-right: 1em;
}
.react-datepicker input {
  width: 100%;
  padding: 0.8em;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #a19f9f;
  border-radius: 15px;
  appearance: none;
}
.react-datepicker__month {
  background-color: #fff;
  z-index: 99;
}
.tour-modal {
  position: fixed;
  background-color: var(--accent);
  color: white;
  width: 320px;
  max-width: 320px;
  padding: 1em 1em;
  margin-top: 14rem; /* 14 */
  border-radius: 5px;
  z-index: 2;
}
.nav-modal-btn {
  background-color: var(--accent);
  color: var(--white);
  font-weight: 500;
  border: 0;
  width: 60px;
  padding: .3em;
  border-radius: 5px;
  transition: background 300ms;
}
.nav-modal-btn:hover {
  background-color: #ff537e;
}
.tour-input-focus {
  border: 3px solid var(--border-focus);
  padding: .3em;
  border-radius: 5px;
}
.tour-btn-focus {
  outline: 3px solid var(--border-focus);
}
.tour-list-focus {
  outline: 3px solid var(--border-focus);
}